.elements_wrapper {
  margin-top: 20px;
  padding: 10px;
  min-height: 300px;
  display: grid;
  border-radius: 10px;
  box-shadow: 0 0 5px #664c2bc2;
  grid-template-rows: 50px 2fr;

}

.cards_wrapper {
  display: grid;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 5px #664c2bc2;
  grid-template-columns: 2fr 2fr;
  column-gap: 10px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  @media print {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }
}

@media print {
  .no_print {
    display: none;
  }
}
.cards_wrapper_full {
  background-color: #fd360433;
}

.title {
  font-size: 20px;
  font-weight: 800;
}

.invitation {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.listIsFull {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  color: #0051ffa2;
}

.button_accept {
  margin: 10px 15px;
  padding: 15px 25px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px #999;

    &:hover {
      background-color: #3e8e41da
    }

    &:active {
      background-color: #3e8e41;
      box-shadow: 0 0 #666;
      transform: translateY(4px);
    }
}

.button_cancel {
  margin: 10px 15px;
  padding: 15px 25px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #5e4caf;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px #999;

    &:hover {
      background-color: #4a4079
    }

    &:active {
      background-color: #5e4caf;
      box-shadow: 0 0 #666;
      transform: translateY(4px);
    }
}
