.table {
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 0 5px #664c2bc2;
  background-color: #f8f8f8d5;
  height: 100px;
}


.images {
  margin: auto;
  width: 70px;
  height: 70px;
}

.names {
  font-weight: 600;
  text-transform: capitalize;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
