:global {
  html {
    height: 100%;
  }

  body {
    margin: 0;
    height: 100%;
    font-family: "Open Sans";
    font-size: 13px;
    color: #333;
  }

  #root {
    height: 100%;
  }
}

.app_container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container {
  box-shadow: 0 0 5px #b8b8b8;
  border-radius: 4px;
  height: 84%;
  width: 84%;
}

