.wrapper {
  min-height: 200px;
  padding: 30px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @media (max-width: 576px) {
    padding: 0;
    margin: 0 10px;
  }

}

.dataZone {
  padding: 5px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 20px;
}

.cards {
  padding: 10px 5px 15px;
}

.alert {
  background: linear-gradient(135deg, #f06e4763, #e73c3c70, #fafafa, #ffffff);
  background-size: 500% 500%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 100%;
	}
}

@media print {
  .no_print {
    display: none;
  }
}
